<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./scripts/myScript.js"></script>
	<body>
		<div class="header">
			<h1>dhh.<i>showProjects(<i>flatiron</i>)</h1>
		</div>

		
		<div class="row">
			<div class="col-3 col-s-3 menu">
				<h2 id="content-header">&nbsp;</h2>
				<ul>
			  		<li id="tictactoe" onclick="showGameBoard()">Project 1: Tic-Tac-Toe</li>
			  		<li id="Corpus" onclick="showVisualization()">Project 2: The Corpus Counter</li>
			  		<li>Project 3</li>
			  		<li>Project 4</li>
				</ul>
		  	</div>

			<div class="col-6 col-s-9">
				<div id="Project1">
					<div class="grid-container">					
						<div>1</div>
						<div>2</div>
						<div>3</div>  
						<div>4</div>
						<div>5</div>
						<div>6</div> 
						<div>7</div> 
						<div>8</div> 
						<div>9</div>  
					</div>
				</div>				
				<div id="Project2">
<!-- 					<img id="v-win" class="window"></img> -->
<!-- 					<iframe src="http://127.0.0.1:8050/" width="100%;" style="border:none;"></iframe> -->
					<object class="window" type="text/html" data="http://127.0.0.1:8050/" height="400px;" width="100%;" style="border:none; overflow:hidden;"></object>
				</div>
			</div>
			<div class="col-3 col-s-12">
				<div class="aside">
					<h2>Fetch</h2>
					<p>Where do you want to count words?</p>
					<h2>Clean</h2>
					<p>What language do we expect the words to be in?</p>
					<h2>Visualize</h2>
					<p>How do you want to see the counts?</p>
				</div>
			</div>

		</div>
		<div class="footer">
			<p>dhh.com</p>
		</div>
	</body>	
</html>